body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, blue, lightblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 0px;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

.form-group {
  padding-left: 162px;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 35px;
}

input {
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: lightblue;
  color: black;
}

button:active {
  transform: scale(0.9);
}

p {
  margin-top: 20px;
  color: white;
  font-size: larger;
}

.new_here {
  color: black;
  font-size: 17px;
}


img {
  border-radius: 50%;
  border: 0px solid white;
  height: 1000px;
  width: 120px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  border: 2px solid white;
  border-radius: 25px;
  height: 490px;
  width: 500px;
  padding-bottom: 20px;
}

.loginB {
  padding-left: 256px;
}
